body{


}
header{

    background-color: red;
    height: 24%;


}

main{

    background-color: blue;
    
    height: 100%;
  }

  #div_box{

    background-color: purple;
    height: 49%;
    display: flex;

  }

  #hebergement{

    background-color: green;
    width: 74%;
    margin-right: 2%;

  }

  #populaire{

    background-color: brown;
    width: 24%;

  }

  #activiter{

    background-color: blueviolet;
    height: 46%;
  
}

#div_nav{

  display: flex;
 justify-content: space-between;

 background-color: blue;
height: 34%;

}

#menu_nav{

  display: flex;
  justify-content: space-between;

  height: 100%;

  background-color: white;

}

#bordure_hebergement{

  border-top: 3px solid black;
  width: 126%;
  margin-right: -46%;

  position: relative;
  left: -17%;


}


.text_nav{

  
}

.flex_box_hebergement{

  display: flex;
    flex-direction: column;
    justify-content: space-between;


}

nav{

  background-color: orange;
width: 24%;

}

ul{

  display: flex;
  background-color: purple;
  justify-content: space-between;
  list-style: none;

}

  footer{

    background-color: orange;
   height: 14%;

  }
