.body{

  margin-left: 2%;
  margin-right: 2%;
  

}




header{

  
    height: 43%;


}

main{

    
    
  
  }


  img{

    object-fit: cover;

  }

  .logo{

    width: 29%;
position: relative;
top: 5%;

  }

.link{

  background-color: transparent;
text-decoration: none;
color: black;

}

  #div_box{

 
    height: 72%;
    display: flex;
    margin-bottom: 3%;

  }

  #hebergement{

    
    background-color: #F2F2F2;
    width: 74%;
    margin-right: 2%;
    padding-bottom: 3%;
    border-radius: 2%;


  }

  #populaire{

    background-color: brown;
    width: 24%;

  }

  #activiter{

    background-color: blueviolet;
    height: 60%;
    margin-bottom: 3%;
  
}

#div_nav{

  display: flex;
 justify-content: space-between;

 height:20%;


}

#menu_nav{

  display: flex;
  justify-content: space-between;

  height: 100%;

  background-color: white;

}

.bordure_hebergement{

  border-top: 3px solid white;
  width: 126%;
  margin-right: -46%;

  position: relative;
  left: -17%;


}


.flex_box_hebergement:hover> .bordure_hebergement{
  
  border-top: 3px solid blue;

}



.flex_box_hebergement:hover .link{
  
  color:blue;

}

#filtre{

  display: flex;

  margin-bottom: 2%;

}

.flex_box_hebergement{

  display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.box_filtre{

  display: flex;
  justify-content: space-between;
 
  width: 76%;
  height: 25%;
  font-size: 212%;
}

.div_filtre{

  display: flex;


  border: 1px solid #d9d9d9;

  

  border-radius: 30px;

  padding-right: 2%;

}

.div_filtre:hover{

  background-color: #deebff;

}

.text_filtre{
  
  padding-left: 3%;

  padding-top: 6px;

}

.bordure_icone{

  border-radius: 30px;
  background-color: #deebff;
  width: 60px;

  position: relative;
left: -2%;

}

.div_icone_map{

  background-color: #f2f2f2;
width: 3%;

border-top-left-radius: 29%;
border-bottom-left-radius: 29%;

}

.div_box_recherche{

  display: flex;
  height: 13%;

  margin-bottom: 2%;

}

.button_search{

  background-color: blue;
border: none;
border-top-right-radius: 14%;
border-bottom-right-radius: 13%;
color: white;
font-weight: bold;

display: block;

}

.search_loupe{

  width: 2%;
border-radius: 28%;

display:  none;

}

input::placeholder {
  
 color:black;

}

.position_icone_map{

  position: relative;
  left: 34%;
  top: 26%;

}

nav{

  width: 24%;

  height: 63%;

}

ul{

  display: flex;
  background-color: purple;
  justify-content: space-between;
  list-style: none;

}

  footer{

    background-color: orange;
   height: 14%;

  }

  .position_icone{

    font-size: 22px;
    position: relative;
    top: 31%;
    left: 26%;


  }

  .color_icone{

    color:blue;

  }

  .position_icone_fam{

    position: relative;
   left: 25%;
   top:21%;


  }

  #titre_filtre{

    margin-bottom: 2%;

  }
  
  .champ_text{

    border:none;
    border-top: 1px solid #f2f2f2;
border-bottom: 1px solid #f2f2f2;

  }

  .titre_div_filtre{

    width: 4%;
    height: 12%;
    position: relative;
    top: 12px;

  }

  .div_info{
    
    border: 2px solid #d9d9d9;
width: 25px;
border-radius: 67%;
height: 25px;

  }

  .info_icon{

    color: blue;
    position: relative;
    left: 41%;
   
    top: 14%;

  }

  .box_info{

    display: flex;

  }

  .text_info{

    position: relative;
    top: 5px;
    left: 1%;

  }



  .line_box{

    display: flex;

    height: 43%;
  }

  .card_hergement{

    background-color: white;
    width: 29%;
    margin-left: 3%;
  
    height: 92%;

    border-radius: 5%;


    box-shadow: 0px 0px 16px grey;
  
  }

  .titre_hebergement{

    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 4%;

  }

  .afficher_plus{
    
    margin-left: 3%;

  }

  .card_image_hebergement{


    height: 60%;
    margin: 3%;
  }

  .image_hebergement{

    height:100%;
    width: 100%;

    border-top-left-radius: 17px;

    border-top-right-radius: 17px;
  }

  .div_star{

    display: flex;

  }

  .text_hebergement{

    margin-left: 2%;
  }


  .blue_start{

    color:blue;

  }

  .grey_start{

    color:grey;

  }


  .marge_text_hebergement{

    margin-bottom: 2%;

  }

  .gras_text{

    font-weight: bold;

  }
